body {
    background-color: rgba(13, 97, 118, 0.647);
}

header {
    padding: 20px;
    background-color: rgb(28, 206, 250);
}

h1 {
    font-size: 48px;
    text-align: center;
}

h3 {
    font-size: 28px;
    text-align: center;
}

img {
    width: 40%;
    height: auto;
}

p {
    font-size: 20px;
}